<section>
  <div class="section-head">
    <span>Stats</span>
  </div>
  <div class="stats">
    <div class="row">
      <!-- armor -->
      <div class="col-xs-12">
        <p>Armor: {{stats.armor}} <span>(+ {{stats.armorperlevel}} per level)</span></p>
      </div>
      <!-- attack damage -->
      <div class="col-xs-12">
        <p>Attack damage: {{stats.attackdamage}} <span>(+ {{stats.attackdamageperlevel}} per level)</span></p>
      </div>
      <!-- attack range -->
      <div class="col-xs-12">
        <p>Attack Range: {{stats.attackrange}}</p>
      </div>
      <!-- attack speed -->
      <div class="col-xs-12">
        <p>Attack Speed: {{stats.attackspeedoffset}} <span>(+ {{stats.attackspeedperlevel}} per level)</span></p>
      </div>
      <!-- health -->
      <div class="col-xs-12">
        <p>Health: {{stats.hp}} <span>(+ {{stats.hpperlevel}} per level)</span></p>
      </div>
      <!-- health regeneration -->
      <div class="col-xs-12">
        <p>Health Regeneration: {{stats.hpregen}} <span>(+ {{stats.hpregenperlevel}} per level)</span></p>
      </div>
      <!-- movement speed -->
      <div class="col-xs-12">
        <p>Movement Speed: {{stats.movespeed}}</p>
      </div>
      <!-- mana -->
      <div class="col-xs-12">
        <p>Mana: {{stats.mp}} <span>(+ {{stats.mpperlevel}} per level)</span></p>
      </div>
      <!-- mana regen -->
      <div class="col-xs-12">
        <p>Mana Regen: {{stats.mpregen}} <span>(+ {{stats.mpregenperlevel}} per level)</span></p>
      </div>
      <!-- magic resist -->
      <div class="col-xs-12">
        <p>Magic Resist: {{stats.spellblock}} <span>(+ {{stats.spellblockperlevel}} per level)</span></p>
      </div>
    </div>
  </div>
</section>
