<div class="championView">
  <header>
    <h1>App name</h1>
  </header>

  <div class="container" ng-if="champion.data">
    <!-- info section -->
    <champ-info name={{champion.data.name}} title={{champion.data.title}} version={{champion.version}} key={{champion.data.key}} info={{champion.data.info}}></champ-info>

    <champ-spells name={{champion.data.name}} version={{champion.version}} passive="champion.data.passive" spells="champion.data.spells"></champ-spells>

    <champ-stats stats=champion.data.stats></champ-stats>

    <champ-strategy name={{champion.data.name}} allytips=champion.data.allytips enemytips=champion.data.enemytips></champ-strategy>

    <champ-spotlight></champ-spotlight>

    <champ-lore lore={{champion.data.lore}}></champ-lore>

    <champ-skins key={{champion.data.key}} skins=champion.data.skins></champ-skins>

  </div>

</div>
