<div class="landing">
  <!-- loader mientras hace peticiones -->
  <div class="full" ng-hide="main.index">
    <div class="loader">

    </div>
  </div>

  <!-- interfaz una vez cargada -->
  <h1 class="text-center" ng-show="main.index">Champions</h1>

  <div class="row" ng-show="main.index">
    <div class="col-xs-6" ng-repeat="champion in main.index | toArray | orderBy: 'name'">
      <a href="#">
        <div class="card text-center">
          <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{main.version}}/img/champion/{{champion.key}}.png" alt="{{champion.name}} portrait">
          <p>{{champion.name}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
